<h1>Your Booking History</h1>

<% if @bookings.any? %>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        Booking ID: <%= booking.id %>
        <br>
        Car Name: <%= @booking.car.name %>  <!-- This should show the car's name -->
        <br>
        Car ID: <%= booking.car_id %>  <!-- Debugging step: check if car_id is correct -->
        <br>
        Start Date: <%= booking.start_date.strftime("%B %d, %Y") %>
        <br>
        End Date: <%= booking.end_date.strftime("%B %d, %Y") %>
        <br>
        Total Price: <%= number_to_currency(booking.total_price) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No bookings found.</p>
<% end %>
