<div>
<table class="booking-table">
  <thead>
    <tr>
    <th>car name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Cancel button </th>
    </tr>
  </thead>
  <tbody>
    <% if @bookings.any? %>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.car.name %> (<%= booking.car.model %>)</td>
          
          <td><%= booking.start_date.strftime("%B %d, %Y") %></td>
          
        
          <td><%= booking.end_date.strftime("%B %d, %Y") %></td>
          
         
          <td>
            <% if booking.start_date > Date.today %>
              Upcoming
            <% elsif booking.end_date < Date.today %>
              Completed
            <% else %>
              Ongoing
            <% end %>
          </td>
          <td>
          <% unless booking.status == 'cancelled' %>
          <%= button_to 'Cancel Booking', booking, method: :delete, class:"custom-button", data: { confirm: "Are you sure you want to cancel this booking?" } %>
          <% end %>
        </td>
     </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">No bookings available.</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
