<div class="container">
  <div class="car-listing">
    <% @cars.each do |car| %>
      <div class="car-item">
      <p> <strong></strong><br>
      <% if car.photo.attached? %>
       <%= image_tag car.photo, size: "400x300" %>
      <% else %>
        No photo available
      <% end %>
    </p>
      <h2><%= car.name %> <%= car.model %></h2>
        <p>Seating Capacity: <%= car.seating_capacity%>  Fuel: <%= car.fuel_type %></p>
        <p> Price: <%= car.price %></p>
        <%= link_to 'Book Now', new_booking_path(car_id: car.id), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

