<!DOCTYPE html>
<html>
<head>
  <title>ZoomCar</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
   <script src="https://js.stripe.com/v3/"></script>
  <%= javascript_importmap_tags %>
  

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
 <%= stylesheet_link_tag 'bookings', media: 'all' %>
   <%= stylesheet_link_tag 'login', media: 'all' %>
  <%= stylesheet_link_tag 'cars', media: 'all' %>
  <%= stylesheet_link_tag 'navbar', media: 'all' %> 
  <script src="https://js.stripe.com/v3/"></script>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">ZoomCar</a>


<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto"> 
    <% if user_signed_in? %> 
      <li class="nav-item"><%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %></li>
    <% end %>
   
    <li class="nav-item"><%= link_to 'Booking History', bookings_path, class: 'nav-link' %></li>
  
  </ul>
  
  
</div>

</nav>


<%= yield %>


</body>
</html>