<!DOCTYPE html>
<html>
<head>
  <title>ZoomCar</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
   <script src="https://js.stripe.com/v3/"></script>
  <%= javascript_importmap_tags %>
  

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'devise', media: 'all' %>
  <%= stylesheet_link_tag 'cars', media: 'all' %>
  <%= stylesheet_link_tag 'navbar', media: 'all' %> 
  <script src="https://js.stripe.com/v3/"></script>
  <%= javascript_importmap_tags %>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">MyApp</div>
    <ul class="navbar-menu"> 
      <% if user_signed_in? %> 
        <li class="navbar-item"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li class="navbar-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="navbar-item"><%= link_to 'Login', new_user_session_path %></li>
        <li class="navbar-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
  
  <%= yield %>
</body>
</html>
