<!DOCTYPE html>
<html>
  <head>
    <title>ZoomCar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag 'devise', media: 'all' %>
     <%= stylesheet_link_tag 'cars', media: 'all' %>

    <%= javascript_importmap_tags %>
  </head>

  <body> 
        <nav class="navbar">
    </nav>
  
    <%= yield %>
  </body>
</html>
